apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: keycloak-db-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak-postgres
  template:
    metadata:
      labels:
        app: keycloak-postgres
    spec:
      nodeSelector:
        inferx_storage: data      
      containers:
        - name: postgres
          image: postgres:14.5
          imagePullPolicy: IfNotPresent
          env:
            - name: POSTGRES_USER
              value: keycloak
            - name: POSTGRES_PASSWORD
              value: "123456"
            - name: POSTGRES_DB
              value: keycloak
            - name: PGDATA
              value: /data/postgres
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: db-data
              mountPath: /data/postgres  
      volumes:
        - name: db-data
          persistentVolumeClaim:
            claimName: keycloak-db-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-postgres
spec:
  selector:
    app: keycloak-postgres
  ports:
    - port: 5432
      targetPort: 5432
