apiVersion: apps/v1
kind: Deployment
metadata:
  name: scheduler
  labels:
    app: scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: scheduler
  template:
    metadata:
      labels:
        app: scheduler
    spec:
      hostPID: true
      nodeSelector:
        inferx_storage: data  
      containers:
        - name: scheduler
          image: inferx/inferx_platform:${VERSION}
          imagePullPolicy: IfNotPresent
          env:
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP          
          - name: RUN_SERVICE
            value: "Scheduler"
          - name: STATESVC_ADDR
            value: "http://statesvc:1237"
          - name: AUDITDB_ADDR
            value: "postgresql://audit_user:123456@auditdb:5432/auditdb"
          - name: BILLINGDB_ADDR
            value: "postgresql://billing_user:123456@billingdb:5432/billingdb"
          - name: ETCD_ADDRS
            value: "http://localhost:2379"
          - name: SCHEDULER_PORT
            value: "1238"
          - name: ENABLE_SNAPSHOT_BILLING
            value: "false"
          volumeMounts:
            - mountPath: /opt/inferx/log
              name: opt-inferx-log
          command: ["./svc", "/opt/inferx/config/node.json"]
      volumes:
        - name: opt-inferx-log
          hostPath:
            path: /opt/inferx/log      
---
apiVersion: v1
kind: Service
metadata:
  name: scheduler
  labels:
    app: scheduler
spec:
  type: NodePort
  selector:
    app: scheduler
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 31502
